{% extends 'layout/base.twig' %} 

{% block stylesheet %}
 <link rel="stylesheet"  href="/assets/home.css">
{% endblock %}

 {% block content %}
	
	<main>
		<section class="benner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item" style="background-image: url({{highlight.url}});">
					  <h1>{{ highlight.title }}s </h1>
					 	
					 		</div>
					 			
					 		</div>
					 		
					 	</div>


							
						</div>
						  
					</div>
				</div>
				</div>
		<div class="thumbnail">
			<div class="columns is-marginless">
				{% for item in thumbnail %}
				<div class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url }});">
					{{ item.title }}
					
				</div>
				{% endfor %}
                
			</div>
			</div>
		</section>

		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			</div>
			 
			 <div class="columns is-multiline">
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-1.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Lorem ipsum dolor sit amet. </h3>
			 				<h4 class="subtitle is-6"> How to write your personal statement</h4>
			 				<p> A personal statement is your chance to show course providers why you want to study the course and why you’d make a great student. Tutors read personal statements to compare applicants, so this is where you should describe your ambitions, skills, and experience that will make you suitable for the course. </p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-2.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Extra </h3>
			 				<h4 class="subtitle is-6">If you've used all five choices and you're not holding any offers, read about our Extra service.
                               </h4>
			 				<p> If you applied through the UCAS Undergraduate scheme, you might be able to add another choice if you've received decisions from all five unis or colleges and weren't accepted, or if you declined the offers you received. </p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-3.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Making changes to your application </h3>
			 				<h4 class="subtitle is-6">You can make some changes in Track yourself, but need to call us to make others.
                               </h4>
			 				<p> You can change your address, phone number, and email address in Track. Other changes, such as course choices, can only be made by contacting either us or the course provider. Some changes have a time limit too. </p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-4.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Replying to your offers </h3>
			 				<h4 class="subtitle is-6">You can only reply once you've received decisions from all your choices.
                               </h4>
			 				<p> You'll need to decide which of your offers to accept and which to decline. There are different types of offers and different replies you can make to them. </p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-5.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Clearing </h3>
			 				<h4 class="subtitle is-6">No offers? Use Clearing.
                               </h4>
			 				<p> You can use Clearing to find a place at university if you didn't receive any offers, declined any offers you did receive, didn't meet the conditions of your offers, or applied after 30 June. </p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class=" card-images">
			 				<figure class="images is-3by2">
			 					<img src="assets/images/home/we-preset/img-6.jpg" alt="img-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category">PUbic Space</h5>
			 				<h3 class="title is-spaced is-4"> Student loans </h3>
			 				<h4 class="subtitle is-6">How to fund your studies. </h4>
			 				<p> Higher education is a big investment, so you may need a student loan. You might be eligible for extra funding from other organisations too. </p>
			 			</div>
			 		</div>
			 	</a>
			 </div>
		</section>

		
	</main>
{% endblock %}

