<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
            <a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">REVIWE</a>
			<a href="#" class="navbar-item">PHOTO</a>
			<a href="#" class="navbar-item">RORD</a>
			<a href="#" class="navbar-item">EAT</a>
			<a href="#" class="navbar-item">YOLO</a>
			<a href="#" class="navbar-item">TRAVEL</a>
			<a href="#" class="navbar-item">DRINK</a>
		</nav>


	</header> 